@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outline {
    text-shadow: 
      3px 0 #1DBAD5, 
      -3px 0 #1DBAD5, 
      0 3px #1DBAD5, 
      0 -3px #1DBAD5, 
      3px 3px #1DBAD5, 
      -3px -3px #1DBAD5, 
      3px -3px #1DBAD5, 
      -3px 3px #1DBAD5
  }

  /* custom.css */
.shadow-custom {
  box-shadow: 0 4px 10px rgba(247, 246, 246, 0.189); /* Adjust the values as needed */
}

* {
  scroll-behavior: smooth;
}
